.DS_Store
._*
.Spotlight-V100
.Trashes
desktop.ini
ehthumbs.db
Thumbs.db
AlbumArt*

.idea/*
!/.idea/codeStyleSettings.xml
!/.idea/inspectionProfiles
!/.idea/runConfigurations
.idea_*
.vscode
.sublime-*
.settings
atlassian-ide-plugin.xml

~*
*~
*.bak
*.orig
*.swp
*.tmp
*.exe

build/
dist/

/assets
